@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 10vh;
    background-color: #38527d;
    text-transform: capitalize;
}
body {
    background-color: #38527d;
}

.logo {
    font-family: jost;
    text-transform: uppercase;
    font-size: 20px;
    color: #ffff;
    padding-left: 8%;
    padding-top: 1.7vh;
    font-weight: 100;
    letter-spacing: 3.2px;
}

ul li {
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    font-family: open sans;
    display: flex;
    align-items: center;
    padding: 15px 10px 10px 25px;
    font-size: 15px;
    font-weight: 500;
    color: #ffff;
    /*  white-space: nowrap; 
    transition: 0.3s; */
}

.navlinks {
    display: flex;
    position: absolute;
    top: 7px;
    right: 20%;
    color: red;
}

.navlinks a:hover {
    color: #2094ce;
}
.navlinks .list1{
    color: #6e1336;
}
.list1 {
    position: absolute;
    display: none;
}

.navlinks li:hover .list1 {
    display: block;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(26, 26, 19);
    background-color: red;
    width:30vh ;
}
.list2{
    position: absolute;
    display: none;
}
.list1 li:hover .list2{
    display: block;
    color: #47b2e4;
    border: 1px soid rgb(26, 26, 19);
    background-color: #0a0a0a;
    width: 28vh;
    position: absolute;
    right: 99%;
    top: 8vh;
}
.btn1 {
    height: 6vh;
    width: 10%;
    border-radius: 50px;
    background-color: #38527d;
    color: #fff;
    font-size: 14px;
    border: 2px solid #47b2e4;
    font-weight: 600;
    text-transform: capitalize;
    position: absolute;
    top: 13px;
    right: 9%;
}

.btn1:hover {
    background-color: #47b2e4;
}

#span1:hover {
    color: #47b2e4;
}

#span1 {
    color: #ffff;
    font-weight: 10px;
    position: absolute;
    top: 18px;
    right: 13%;
}
#span2:hover{
    color: #2094ce;
}
#span2{
    color: #ffff;
    font-weight: 10px;
    position: absolute;
    top: 62px;
    right: 13%;
}